.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 500px;
  margin: 20px auto;
}

#progressBar {
  flex: 1;
  appearance: none;
  height: 6px;
  background: #d6c4a1;
  border-radius: 5px;
  outline: none;
}

#progressBar::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: #7a1f2b;
  border-radius: 50%;
  cursor: pointer;
}

#currentTime, #duration {
  font-size: 14px;
  width: 45px;
}
